/**
 * Li3Press: A CMS with the Lithium (Li3) framework
 *
 * @author 			Romain Wurtz (http://www.t3kila.com)
 * @copyright		Copyright 2012, Romain Wurtz (http://www.t3kila.com)
 *
*/

body {
    background-color:#fff;
    color:#0d0d0d;
    font-family:Helvetica, Arial, sans-serif;
    font-size:14px;
    line-height:1.5em;
}

#container {
    background-color:#FFF;
    margin-top:42px;
    position:relative;
    padding:10px;
}

#content {
    margin-top:42px;
}

#list_comment {
    margin-top:22px;
}

.dotted {
    border-top-color:#DDD;
    border-top-style:dotted;
    border-top-width:2px;
    margin-bottom:10px;
    margin-top:10px;
}

.submit_button {
    width:100%!important;
}

#header h1 {
    font-size:90px;
}

#header h2 {
    line-height:28px;
    color:#B1B3B4;
    font-family:'Cabin Condensed',"Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,Verdana,Arial,sans-serif;
    font-size:1.34em;
    font-weight:700;
    text-shadow:1px 1px 0 #FFF;
    text-transform:none;
    padding-left:5px;
}

.right {
    float:right;
}

.left {
    float:left;
}

#loader {
    display:none;
    text-align:center;
}

article h2 {
    background:none repeat scroll 0 0 #666;
    color:#FFF;
    margin-bottom:30px;
    text-align:right;
    margin-top:0;
    padding:5px;
}

article h2 a:hover {
    color:#76CCCD;
}

#header a {
    color:#000;
}

.admin_action {
    margin-bottom:10px;
}

a {
    text-decoration:none!important;
}

article {
    margin-bottom:30px;
}

.navbar .user {
    -moz-transition:all .2s linear 0;
    color:#000!important;
    float:right!important;
    font-size:20px!important;
    font-weight:700!important;
    margin-left:20px!important;
    padding-left:0!important;
    padding-right:0!important;
    text-shadow:0 1px 0 rgba(255,255,255,0.1), 0 0 30px rgba(255,255,255,0.125)!important;
}

.user_profile h1 {
    padding-left:5px;
    text-align:left!important;
}

#visible_text {
    background-color:#FFF;
}

.btn.disabled {
    background-color:#E6E6E6;
    color:#333;
}

article h2 a,article h2 a:active,article h2 a:visited {
    color:#FFF;
}

.progress {
    width:200px;
}

.bar {
    height:18px;
    background:green;
}

#header {
    background:none repeat scroll 0 0 #F4F4F4;
    position:relative;
    width:100%;
    margin:0!important;
}

#logo {
    display:inline-block;
    vertical-align:top;
}

#header .wrap {
    position:relative;
    padding:3.125em 0 2.1875em;
}

.navbar {
    margin-bottom:0;
}

.entry .thumb {
    opacity:0.9;
    transition:all .5s linear 0;
    vertical-align:top;
    position:relative;
}

.entry .content-entry {
    color:#333230;
    margin-top:-10px;
}

.entry header {
    color:#58585A;
}

#content h1 {
    color:#049cdb;
}

.entry header h1 {
    color:#449A71;
    line-height:1em;
    transition:all .1s linear 0;
}

.entry .content-entry p {
    text-align:justify;
}

.entry header p {
    font-size:.8125em;
    text-align:left;
}

.entry {
    margin-bottom:84px;
}

.thumb .shadow {
    position:absolute;
    top:50%;
    left:-10px;
    margin-top:-21px;
    height:42px;
    width:20px;
    background:url(../img/shadow.png);
}

.shadow {
    position: absolute;
    left: 0; right: 0;
    bottom: -20px;
    height: 20px;
    background: -moz-linear-gradient(top,  rgba(217,218,219,1) 0%, rgba(236,237,237,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,218,219,1)), color-stop(100%,rgba(236,237,237,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(217,218,219,1) 0%,rgba(236,237,237,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(217,218,219,1) 0%,rgba(236,237,237,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(217,218,219,1) 0%,rgba(236,237,237,0) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(217,218,219,1) 0%,rgba(236,237,237,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9dadb', endColorstr='#00eceded',GradientType=0 ); /* IE6-9 */
}